<script defer type="text/javascript" src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
<script defer type="text/javascript" src="{{ "js/material.min.js" | absURL }}"></script>
<script defer type="text/javascript" src="{{ "js/mdl-ext.min.js" | absURL }}" charset="utf-8"></script>
