<ul
  class="mdlext-accordion mdlext-js-accordion mdlext-accordion--vertical mdlext-js-ripple-effect"
  role="tablist" aria-multiselectable="true">

  {{ range .group }}
  <li class="mdlext-accordion__panel" role="presentation">
    <header class="mdlext-accordion__tab mdl-color--grey-300" role="tab" aria-expanded="false">
      <span class="mdlext-accordion__tab__caption">{{ .name }}</span>
      <i class="mdlext-aria-toggle-material-icons"></i>
    </header>
    <section class="mdlext-accordion__tabpanel" role="tabpanel" aria-hidden="false">
      {{ range .links }}
      <a href="{{ .url }}" class="link mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">{{ .title }}</a>
      {{ end }}
    </section>
  </li>
  {{ end }}

</ul>
