<header class="mdl-layout__header mdl-color--primary">
    <div class="mdl-layout__header-row">
        <span id="title" class="mdl-layout-title">{{ .Site.Title }}</span>
        <div class="mdl-layout-spacer"></div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
            <label class="mdl-button mdl-js-button mdl-button--icon" for="search">
              <!-- <i class="material-icons">search</i> -->
              <i id="search-icon" class="fab fa-google"></i>
            </label>
            <div class="mdl-textfield__expandable-holder">
              <form id="search-form" action="https://google.com/search" method="get">
                  <input class="mdl-textfield__input" type="text" name="q" id="search" autocomplete="off" placeholder="/?">
                  <label class="mdl-textfield__label" for="search"><span id="search-icon" class="fab fa-google"></span></label>
              </form>
              <ul id="search-help" class="search-help" style="opacity: 0;"></ul>
            </div>
        </div>
    </div>
</header>
